<h1>Enderecos</h1>
<table class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
            <th>id</th>
            <th>Rua</th>
            <th>Numero</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th class="text-center">
                <a [routerLink]="['/enderecos/novo']" title="Novo" alt="Novo" class="btn btn-xs btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i>Novo
                </a>
            </th>
        </tr>
        <tr *ngFor="let endereco of enderecos">
            <td>{{endereco.id}}</td>
            <td>{{endereco.rua}}</td>
            <td>{{endereco.numero}}</td>
            <td>{{endereco.complemento}}</td>
            <td>{{endereco.bairro}}</td>
            <td>{{endereco.cep}}</td>
            <td>{{endereco.cidade}}</td>
            <td>{{endereco.estado}}</td>


            <td class="text-center" style="width: 300px">
                <button type="button" class="btn btn-xs btn-info" (click)="abrirModalEndereco(endereco)" >
                <i class="fa fa-eye" aria-hidden="true"></i> Ver
                </button>
                <a [routerLink]="['/enderecos/editar', endereco.id]" class="btn btn-xs btn-info" title="Editar">
                    <i class="fa fa-edit" aria-hidden="true"></i>Editar
                </a>
                <a href="" class="btn btn-xs btn-info" title="Remover" (click)="remover($event, endereco)">
                    <i class="fa fa-times" aria-hidden="true"></i>Remover
                </a>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="enderecos.length===0">Nenhum endereço cadastrado.</p>
