<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Estado</h4>
    <button type="button" class="btn-close" aria-label="Close" 
    (click)="activeModal.close()"></button>
</div>

<div class="modal-body">
    <p>Rua: {{ endereco.rua }} </p>
    <p>Numero: {{ endereco.numero }}</p>
    <p>Bairro: {{ endereco.bairro }}</p>
    <p>Cidade: {{ endereco.cidade }}</p>
    <p>CEP: {{ endereco.cep }}</p>
    <p>Complemento: {{ endereco.complemento }}</p>
    <p>Estado: {{ endereco.estado }}</p>
    <p>{{ endereco.residencial! ? "Residencial" : "Comercial" }}</p>
    
</div>
    <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" 
    (click)="activeModal.close()">Fechar</button>
</div>